@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to bottom right,#f6c4ed,#e1dae6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Clock */
#container{
    width:350px;
    height:350px;
    left:700px;
    position: relative;
    top:230px;
}
#semiCircle{
    position: absolute;
    left:-44%;
    top:77px;
    width:450px;
    height:200px;
    background:rgba(0,0,0,.5);
    z-index: 1;
    border-radius: 150px 150px 0px 0;
    transform: rotate(-90deg);

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
div[id*="block"]{
    width:50px;
    z-index: 2;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#block1{
    height:120%;
    position: relative;
    left:177.23px;
    top:-35px;
}
#block2{
    height:105%;
    position: absolute;
    left:66.5%;
    top:-2.2%;
}
#block3{
    height:90%;
    position: absolute;
    left:82.8%;
    top:5%;
}
#block4{
    height:70%;
    position: absolute;
    left:99%;
    top:15%;
}
#block5{
    height:50%;
    position: absolute;
    left:115.0%;
    top:25%;
}
/* Clock Arrows */
#arrows{
    margin:0 auto;
}
#long,#short,#second{
    width:50px;
    height:3px;
    background-color: black;
    position: relative;
    bottom:300px;
    z-index: 3;
    transform-origin: 100%;
    transform: rotate(120deg);
    transition: .5s;
}
#long{
    width:85px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:116px;
    bottom:266px;
}
#short{
    width:30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:171px;
    bottom:270px;
}
#second{
    bottom:273.6px;
    left:140.9px;
    width:60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* Dashes */
div[id*="dash"]{
    width:1px;
    height:20px;
    background-color: grey;
    position: absolute;
    z-index:999;
}
#dash1{
    top:-25px;
    left:57.5%;
}
#dash2{
    top:35px;
    left:90%;
    transform: rotate(30deg);
}
#dash3{
    transform: rotate(90deg);
    top:155px;
    left:125%;
}
#dash4{
    transform:rotate(140deg);
    top:300px;
    left:90%;
}
#dash5{
    left:57.5%;
    bottom:-25px;
}
#dash6{
    top:300px;
    transform:rotate(230deg);
    left:100px;
}
#dash7{
    top:155px;
    transform: rotate(90deg);
    left:-5px;
}
#dash8{
    top:35px;
    transform:rotate(320deg);
    left:100px;
}

/*Date Words*/
#date{
    font-size:20px;
    margin:0 auto;
    width:500px;
    height:70px;
    position: relative;
    right:350px;
    top:20px;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 35px;
    font-family: "Lobster Two",sans-serif;
}
